
<% include sociallinks.ejs %>
<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span class="copyright">Copyright &copy; Little Elf Services 2017</span>
            </div>
            <div class="col-md-3">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</body>

</html>
