<!DOCTYPE html>
<html>
<head>
    <title> Little Elf</title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <script src="/bootstrap/dist/jquery/jquery.js"></script>

    <link rel='stylesheet' type='text/css' href='/stylesheets/home.css'> <!-- local style sheet -> why you no work -->
    <link rel='stylesheet' type='text/css' href='/stylesheets/home.css'>
    <script type='text/javascript' src='/scripts/app.js'></script> <!--local script source-->
    <script type='text/javascript' src='/scripts/home.js'></script>
    <script type="text/javascript" href="../../node_modules/ejs/ejs.js" />

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script> <!-- add jquery to local project! needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- hosted jquery on client side -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!--Pulling Awesome Font -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--contact form -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
  <body>
    <script>
        window.onload = function () {
          $('#example5').calendar();
          $('#myForm').validator();
        }
    </script>
