<link rel='stylesheet' type='text/css' href='/stylesheets/footer.css'>

<footer class='footer' id='contact'>
  <% include sociallinks.ejs %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 text-left">
                <span class="copyright">Copyright &copy; Little Elf Services 2017</span>
            </div>
            <div class="col-md-3 text-right">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
