<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<header></header>
<p>.</p>
<section id="intro">
  <div class="container">
    <video src="https://goo.gl/4ZYOVb" loop autoplay></video>
  </div>
  <a class="btn-scroll" href="#service"><span class="fa fa-angle-down"></span></a>
</section>
<section id="service">
  <div class="container">
    <h2>Service</h2>
    <div class="flex">
      <div class="box">
        <a href=""><img src="https://goo.gl/ZzYRyM" alt="" /></a>
        <a href=""><h3>FULLY RESPONSIVE</h3></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
      <div class="box">
        <a href=""><img src="https://goo.gl/EvAbqT" alt="" /></a>
        <a href=""><h3>MODERN DESIGN</h3></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
      <div class="box">
        <a href=""><img src="https://goo.gl/44EQGw" alt="" /></a>
        <a href=""><h3>GREAT FEATURES</h3></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
    </div>
    <hr />
    <div class="flex">
      <div class="box">
        <a href=""><i class="fa fa-search"></i><span> FULLY RESPONSIVE</span></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
      <div class="box">
        <a href=""><i class="fa fa-pencil"></i><span> MODERN DESIGN</span></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
      <div class="box">
        <a href=""><i class="fa fa-download"></i><span> ONE PAGE/MULTI PAGE</span></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
      <div class="box">
        <a href=""><i class="fa fa-html5"></i><span> PREMUIM ICONS</span></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
      <div class="box">
        <a href=""><i class="fa fa-link"></i><span> FLEXIBLE ANIMATIONS</span></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
      <div class="box">
        <a href=""><i class="fa fa-skyatlas"></i><span> 5 SATR SUPPORT</span></a>
        <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
      </div>
    </div>
  </div>
</section>
<section id="aditions">
  <div class="container">
    <div class="flex">
      <div class="box">
        <h3>POWERFUL & SUPER FLEXIBLE THEME</h3>
        <h5>Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat.</h5>
        <p><i class="fa fa-check"> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</i></p>
        <p><i class="fa fa-check"> Vivamus magna justo, lacinia eget consectetur sed.</i></p>
        <p><i class="fa fa-check"> Vivamus suscipit tortor eget felis porttitor volutpat.</i></p>
        <p><i class="fa fa-check"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i></p>
        <p><i class="fa fa-check"> consectetur adipiscing elit.</i></p>
        <a href="" class="btn-link"><span><i class="fa fa-angle-double-right"></i> CHECK THE DETAIL</span></a>
      </div>
      <div class="box">

      </div>
    </div>
  </div>
</section>
<section id="portafolio">
  <div class="container">
    <h2>PORTAFOLIO</h2>
    <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla porttitor accumsan tincidunt</p>

    <div class="content">
      <article>
        <figure><a href=""><img src="https://goo.gl/alaVZi"></a></figure>
        <figcaption>
          <h3><a href="">Exclusive Gallery Slider</a></h3>
          <span><a href=""><i class="fa fa-arrows-alt"></i></a></span>
        </figcaption>
      </article>
      <article>
        <figure><a href=""><img src="https://goo.gl/Vrd2H1"></a></figure>
        <figcaption>
          <h3><a href="">Modern Design</a></h3>
          <span><a href=""><i class="fa fa-arrows-alt"></i></a></span>
        </figcaption>
      </article>
      <article>
        <figure><a href=""><img src="https://goo.gl/ifg1fB"></a></figure>
        <figcaption>
          <h3><a href="">Flexible Animations</a></h3>
          <span><a href=""><i class="fa fa-arrows-alt"></i></a></span>
        </figcaption>
      </article>
      <article>
        <figure><a href=""><img src="https://goo.gl/C5FZR5"></a></figure>
        <figcaption>
          <h3><a href="">Seo Ready</a></h3>
          <span><a href=""><i class="fa fa-arrows-alt"></i></a></span>
        </figcaption>
      </article>
      <article>
        <figure><a href=""><img src="https://goo.gl/Jn60HN"></a></figure>
        <figcaption>
          <h3><a href="">Retina Ready</a></h3>
          <span><a href=""><i class="fa fa-arrows-alt"></i></a></span>
        </figcaption>
      </article>
      <article>
        <figure><a href=""><img src="https://goo.gl/sOIDwB"></a></figure>
        <figcaption>
          <h3><a href="">Great Features</a></h3>
          <span><a href=""><i class="fa fa-arrows-alt"></i></a></span>
        </figcaption>
      </article>
    </div>
  </div>
</section>
<section id="blog">
  <div class="container">
    <h2>TIMELINE BLOG</h2>
    <div>
      <ul>
        <li>
          <article>
            <figure><a href=""><img src="https://goo.gl/Cjihgo" alt="" /></a></figure>
            <figcaption>
              <h3><a href="">Quisque velit nisi pretium ut lacinia in</a></h3>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada.</p>
            </figcaption>
          </article>
          <span class="date-time">
            <span>26</span>
            <span>Jul</span>
            <span>2015</span>
          </span>
          <span class="bullet"></span>
        </li>
        <li>
          <article>
            <figure><iframe src="https://player.vimeo.com/video/102787065" width="500" height="222" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></figure>
          </article>
          <span class="date-time">
            <span>16</span>
            <span>Jul</span>
            <span>2015</span>
          </span>
          <span class="bullet"></span>
        </li>
        <li>
          <article>
            <figcaption>
              <h3><a href="">Donec sollicitudin molestie malesuada.</a></h3>
              <p>Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat.</p>
            </figcaption>
          </article>
          <span class="date-time">
            <span>26</span>
            <span>Jul</span>
            <span>2014</span>
          </span>
          <span class="bullet"></span>
        </li>
        <li>
          <article>
            <figure>
              <iframe width="750" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=true&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F8971622&show_artwork=true&maxwidth=750&maxheight=1000"></iframe>
            </figure>
          </article>
          <span class="date-time">
            <span>16</span>
            <span>Jul</span>
            <span>2014</span>
          </span>
          <span class="bullet"></span>
        </li>
        <li>
          <article>
            <figure><a href=""><img src="https://goo.gl/0SzZ55" alt="" /></a></figure>
            <figcaption>
              <h3><a href="">Vivamus suscipit tortor eget felis porttitor.</a></h3>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada.</p>
            </figcaption>
          </article>
          <span class="date-time">
            <span>16</span>
            <span>Jul</span>
            <span>2014</span>
          </span>
          <span class="bullet"></span>
        </li>
        <li>
          <article>
            <figure><a href=""><img src="https://goo.gl/G6ziCG" alt="" /></a></figure>
            <figcaption>
              <h3><a href="">Vivamus magna justo lacinia eget consectetur sed</a></h3>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada.</p>
            </figcaption>
          </article>
          <span class="date-time">
            <span>16</span>
            <span>Jul</span>
            <span>2014</span>
          </span>
          <span class="bullet"></span>
        </li>
      </ul>
      <a href="#" class="loadmore"><span class="fa fa-angle-down"></span></a>
    </div>
  </div>
</section>
<section id="clients">
  <div class="container">
    <h2>Our Addorable Clients</h2>
    <div class="slide">
      <div class="box"><a href=""><img src="https://goo.gl/m5j94C" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/mxr3pr" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/y8KPGB" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/ogiIvh" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/gjYZZo" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/6Z8LrT" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/7K4WYL" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/XwyP8t" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/Yi66xl" alt="" /></a></div>
      <div class="box"><a href=""><img src="https://goo.gl/ZkZkdk" alt="" /></a></div>
    </div>
    <div class="slide-controls">
      <a class="btn l"><i class="fa fa-angle-left"></i></a>
      <a class="btn r"><i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</section>
<section id="">
  <div class="container"></div>
</section>
<section id="">
  <div class="container"></div>
</section>

<% include partials/footer.ejs %>
