<% include partials/header.ejs %>

  <div class='ui main text container segment'>
    <h1> Sorry, page not found... </h1>
    <img class='ui centered rounded image', src='https://upload.wikimedia.org/wikipedia/commons/8/8c/Tumbeasts_servers.png'>
  </div>

<% include partials/footer.ejs %>
