<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<% include partials/carousel.ejs %>
<% include partials/blogcards.ejs %>
<% include partials/howitworks.ejs %>

<div class='jumbotron'>
  <h1> Welcome to Little Elf </h1>
  <h2> Enjoy your visit </h2>

  <p><a href='/clients/new'> New Client Signup </a></p>
  <p><a href='/elves/new'> New Elf Signup </a></p>
  <p><a href='/jobs/new'> New Job Create </a></p>
</div>

<% include partials/footer.ejs %>
