<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<script type='text/javascript' src='/scripts/global.js'></script> <!--local script source-->
<link rel='stylesheet' type='text/css' href='/stylesheets/global.css'>

<div style='margin-top: 7em; text-align: center;' class='container-fluid'>

  <div class='jumbotron'>
    <h3> Thanks for registering </h3>
    <h3> <%= user.firstName %> !! </h3>

    <% if(elves) { %>
        <p> You have <%= elves.length %> elves nearby! </p>
        <p><a href='/jobs/new'> Get some clothes washed!</a></p>
    <% } else { %>
        <p> Were sorry, there doesnt appear to be any elves near you yet </p>
        <p> Well notify you as soon as an elf becomes available in your area. </p>
    <% } %>

    <p><a href='/'> Home </a></p>

  </div>
  <div class='footer'> <% include partials/footer.ejs %> </div>
</div>
